@import "../../../commonStyle/vars";
@import "../../../commonStyle/reset";
@import "../../../commonStyle/tool";
@import "../../../commonStyle/common";
@import "vars";

.text-gold{
  color: $color;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test{
  border-radius: 4px;
  color: gold;
}

.text-center{
  text-align: center;
}