.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//图片超出裁剪
.img-wrap($width,$height: auto) {
  width: $width;
  height: $height;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  flex-shrink: 0;
}

//设置圆形图片
.avatar($size) {
  border-radius: 50%;
  .img-wrap($size, $size);
  img {
    border-radius: 50%;
  }
}

.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-cut-2 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-cut-3 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.text-cut-4 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}