@import "../../../commonStyle/vars";
@import "../../../commonStyle/reset";
@import "../../../commonStyle/tool";
@import "../../../commonStyle/common";
@import "vars";

.text-gold{
  color: $color;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: scale(1.1);
}

.test{
  background-color: green;
}